{{> header }}
    {{> navbar }}
    <div class="col-8">
        <h1>Atl. Bucaramanga</h1>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora accusantium, reiciendis, nulla doloribus animi pariatur rem veritatis dolorem ipsum atque voluptate error provident assumenda mollitia commodi sapiente quibusdam explicabo ex?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/imagen.jpg" alt="img-thumbnail">
    </div>
  {{> footer }}